.overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding-top: 85px;
  background-color: rgba(222, 211, 211, 0.7);
}
.content {
  text-align: left;
}

.title,
.text {
width: 100%;
}

